[Desktop Entry]
Name=QPDF GUI
Comment=Cross-platform desktop PDF toolbox powered by qpdf
Exec=qpdf-gui
Icon=${SNAP}/meta/gui/qpdf-gui.png
Type=Application
Categories=Utility;Office;
MimeType=application/pdf;
Terminal=false
StartupNotify=true
